h1 {
color: brown;
}

.portugues {
color:blue;
}

#espanhol {
color:blueviolet;
}

.display {
background-color: aqua;
padding:50px;
width: 70%;
}       

.display-blue {
background-color: bisque;
width:70%;
}

.flex {
display: flex;
flex-direction: row;
text-align: center;
}

.row{
    background-color: blueviolet;
    text-align: center;
}